{% extends 'base/base.html' %}
{% load cloudinary %}
{% block content %}
    #TODO: Check
    <form method="post" action="{% url 'edit profile' pk=request.user.pk %}" enctype="multipart/form-data">
        {{ form.as_p }}
        <button>Save</button>
        {% csrf_token %}
    </form>
    <p><a href="{% url 'user change password' pk=request.user.pk %}">
        <button>Change password</button>
    </a></p>

    <a href="{% url 'delete profile' pk=request.user.pk %}">
        Do you want to delete your profile?
    </a>

{% endblock %}