{% extends 'base/base.html' %}
{% load cloudinary %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <style>
        article {
            width: 300px;
            border: 2px solid gray;
            padding: 10px;
            border-radius: 10px;
            margin: 0 auto;
            position: static;
        }

        h1 {
            color: green;
        }
    </style>
</head>


<body>
{% for featured in featureds %}
    <article>

        <img src=
                     "{{ featured.photo.url }}"
             alt="{{ featured.title }}" width="300" height="250"
             class="alignnone size-medium wp-image-560930"/>

        <a href="{% url 'details featured' slug=featured.slug %}"><h1>{{ featured.title }}</h1></a>

        <p>
            {{ featured.summary }}
        </p>
        <a href="{% url 'edit featured' slug=featured.slug %}"><button>Edit</button></a>


    </article>
{% endfor %}
</body>

</html>
{% endblock %}