<h1>{{ featured.title }}</h1>
<h2>{{ featured.category }}</h2>
<h3>{{ featured.article_text }}</h3>

<form method="post" action="{% url 'like featured' featured_id=featured.pk %}">
    {% if user_is_like.count != 1 %}
    <button>Like</button>
    {% else %}
    <button>Unlike</button>
    {% endif %}
    {% csrf_token %}
</form>

<article>
    <section>
        {% for comment in featured.featuredcomment_set.all %}
            {{ comment.text.as_p }}
            {{ user_name }}
        {% endfor %}
    </section>
</article>
<form method="post" action="{% url 'comment featured' featured_id=featured.pk %}">
    {{ comment_form }}
    <button type="submit">Post</button>
    {% csrf_token %}
</form>
<a href="{% url 'details featured' slug=featured.slug %}">
    <button>Edit</button>
</a>
{% csrf_token %}