{#{% extends 'base/base.html' %}#}
{% block content %}
    {% load static %}


    <link rel="stylesheet" href="{% static 'css/sign_in.scss' %}">
    <div class="login-container">
        <section class="login" id="login">
            <header>
                <h2>Welcome!</h2>
                <h4>Login</h4>
            </header>
            <form class="login-form" action="{% url 'sign in' %}" method="post">

                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}">
                <button type="submit">Log in</button>

                {% csrf_token %}
            </form>
        </section>
    </div>

{% endblock %}